astroid==2.4.2
autopep8==1.5.5
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
comtypes==1.1.10
gTTS==2.2.1
idna==2.10
imutils==0.5.4
isort==5.7.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
mysql-connector-python==8.0.23
numpy==1.19.5
opencv-python==4.5.1.48
progress==1.5
pycodestyle==2.6.0
pylint==2.6.0
pypiwin32==223
pyttsx3==2.90
pywin32==300
requests==2.25.1
rope==0.18.0
six==1.15.0
soupsieve==2.1
toml==0.10.2
urllib3==1.26.3
wikipedia==1.4.0
wrapt==1.12.1
